<!doctype html>
<html lang="ru">
  <head>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Проект команды KurZan</h1>
          <p class="lead my-3">Мы обязательно дойдем до питча... (не забыть удалить)</p>
        </div>
      </div>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
